.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.content {
    min-height: inherit;
}

.mainContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
