.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 25px 75px;
}
.carouselWrapper {
    width: 100%;
    /* height: 100vh; */
}
.carouselImage {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carouselImage h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 1.2;
}
.carouselContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 450px;
}
