.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
.header-link {
    text-decoration: none;
    color: #000000;
}
.header-menu {
    flex: 1;
    min-width: 0;
    justify-content: flex-end;
}
.header-logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.header-link {
    color: #ffffff;
}
.header-link.active,
.header-link.active {
    color: #7060e9;
}
.header-link:hover {
    color: #7060e9;
}
@media (max-width: 768px) {
    .header {
        padding: 0px 15px;
    }
}
